body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #080113;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
}

.app-logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.app-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-name {
    font-size: 24px;
    font-weight: bold;
}

main {
    padding: 10px;
    text-align: center;
}

.interactive-section {
    margin-top: 20px;
}

.interactive-item {
    margin: 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden; /* Añade un overflow para asegurar que el texto no se desborde del contenedor */
  }
  
  .interactive-item img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #080113;
    display: block;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .interactive-item img:hover {
    transform: scale(1.1);
  }
  
  .interactive-item p {
    position: absolute;
    width: 100%;
    text-align: center; /* Alinea el texto al centro */
    bottom: 0;
    background-color: rgba(8, 1, 19, 0.7); /* Fondo semi-transparente para hacer el texto más legible */
    color: #fff;
    margin: 0; /* Elimina el margen superior del párrafo */
    font-size: 18px;
    padding: 10px; /* Añade un relleno alrededor del texto */
    box-sizing: border-box; /* Incluye el relleno en el ancho y alto total del elemento */
  }

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #080113;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.bottom-bar-buttons {
    display: flex;
    justify-content: center;
}

.bottom-bar button {
    background-color: #080113;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
}

.lista-pedidos {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.pedido {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    width: 500px; /* Ajusta el ancho según tus necesidades */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#nuevoPedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

button {
    background-color: #512da8;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#nuevoPedido img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #080113;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out;
}

#nuevoPedido .labelContainer {
    margin-top: 5px;
    position: absolute; /* Cambiado de relative a absolute */
    top: 35%; /* Coloca el 50% del contenedor padre */
    left: 50%; /* Coloca el 50% del contenedor padre */
    transform: translate(-50%, -50%); /* Centra el contenedor */
}

#nuevoPedido label {
    display: block;
    margin-bottom: 5px;
}

#nuevoPedido p {
    margin-top: 10px;
}

/* Estilos para la notificación */
.notificacion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
}

/* Estilos para el botón de aceptar */
.notificacion button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    background-color: #512da8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.notificacion button:last-child {
    margin-right: 0; /* Elimina el margen derecho del último botón */
    margin-left: 10px; /* Añade margen izquierdo al segundo botón */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 8px;
}

.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar-modal:hover {
    color: black;
}
